%h2= 'Tell your friends'
%p.description= 'Spread the word about Buy Some Damn Art'
%br
%p.description='Pass along this link:'
%span.referral_url= referral_url(@person.referral_code)
%ul.share_links
  %li!= link_to image_tag('twitter.png'), "http://twitter.com/share?text=#{CGI::escape("Buy Some Damn Art sends you weekly emails with affordable original artworks for sale.")}&url=#{referral_url(@person.referral_code)}", :title => 'Tweet it!'
  %li!= link_to image_tag('facebook.png'), "http://facebook.com/sharer.php?u=#{referral_url(@person.referral_code)}", :title => 'Share it on Facebook.'
