%h2= 'Buy Some Damn Art!'
%p.description!= 'Affordable, original art in your inbox every Tuesday. Launching late Fall 2011.'

<!-- Begin MailChimp Signup Form -->
= form_tag "http://arthound.us2.list-manage.com/subscribe/post?u=09a6aba1008c7fa5a557f2960&amp;id=756ffb3cab", :method => "post", :name => "mc-embedded-subscribe-form" do
  = email_field_tag "EMAIL", "", :placeholder => "Enter your email address to sign up", :class => "text", :id => "mce-EMAIL"
  = submit_tag :name => "subscribe", :value => "Sign up", :class => "submit", :id => "mce-embedded-subscribe"
<!--End mc_embed_signup-->

#notice= flash[:notice]
