%h2= 'Buy Some Damn Art'
%p.description!= 'Affordable, original art in your inbox every Tuesday.'
- form_for @person do |f|
  = f.text_field :email, :class => 'text'
  = f.submit 'Submit', :class => 'submit'
  - if @person.email.blank?
    = f.label :email, 'Enter your email to sign up.'
  = f.error_message_on :email
#notice= flash[:notice]
