!!!
%html
  %head
    %meta(content="text/html; charset=utf-8" http-equiv="Content-type")
    %meta(content="Buy Some Damn Art is a weekly email sale of affordable original artworks." name="description")
    %title= 'Buy Some Damn Art'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Stardos+Stencil:700'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Sue+Ellen+Francisco'
  %body
    #top
      #content
        %h1= link_to 'Buy Some Damn Art!', root_url
        = yield
        -# %p.twitter!= 'Follow <a href="http://twitter.com/buysomedamnart">@buysomedamnart</a> on Twitter for news & updates.'
        #footer!= '&copy; 2011 Buy Some Damn Art. <em>Brought to you by <a href="http://arthound.net">Art Hound</a></em>.'
    = javascript_include_tag 'jquery-1.4.2.min'
    = javascript_include_tag 'app'
    -# = render :partial => 'layouts/google_analytics'
